version: "3"
services:
  mongodb:
    image: mongo:latest
    container_name: "mongodb"
    ports:
      - 27017:27017
  springboot-mongodb:
    image: clustered-data-warehouse
    container_name: clustered-data-warehouse
    ports:
      - 8080:8080
    volumes:
      - ./log:/log
    links:
      - mongodb